@model IEnumerable<Course>
<!--================Finance Area =================-->
<section class="finance_area">
    <div class="container">
        <div class="finance_inner row">
            @Html.Partial("ShowIcons")
        </div>
    </div>
</section>
<!--================End Finance Area =================-->
<!--================Courses Area =================-->
<section class="courses_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Օնլայն Դասընթացներ</h2>
            <p>Այստեղ հավաքված են օնլայն դասընթացները.</p>
            
        </div>
        <div class="row courses_inner">
            <div class="col-lg-9">
                <div class="grid_inner">
                    @foreach (var item in Model)
                    {
                        @Html.Partial("ShowCardCourse", item)
                    }
                    

                </div>
            </div>

        </div>
    </div>
</section>
<!--================End Courses Area =================-->