
<!--================Finance Area =================-->
<section class="finance_area">
    <div class="container">
        <div class="finance_inner row">
            @Html.Partial("ShowIcons")
        </div>
    </div>
</section>
<!--================End Finance Area =================-->
<!--================Courses Area =================-->
<section class="courses_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Օնլայն Դասընթացներ</h2>
            <p>Այստեղ հավաքված են օնլայն դասընթացները.</p>
        </div>
        <div class="row courses_inner">
            <div class="col-lg-9">
                <div class="grid_inner">
                    <div class="grid_item wd55">
                        <div class="courses_item">
                            <img src="/lib/img/courses/course-1.jpg" alt="">
                            <div class="hover_text">

                                <a asp-action="Index" asp-controller="Course" asp-route-courseID="1"><h4>Ինորմատիկայի հիմունքներ</h4></a>
                                <ul class="list">
                                    <li><a href="#"><i class="lnr lnr-users"></i>0</a></li>
                                    <li><a href="#"><i class="lnr lnr-bubble"></i>0</a></li>
                                    <li><a href="#"><i class="lnr lnr-user"></i>Պ․Ղուկասյան</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="grid_item wd44">
                        <div class="courses_item">
                            <img src="/lib/img/courses/course-4.jpg" alt="">
                            <div class="hover_text">

                                <a href="#"><h4>Lorem ipsum</h4></a>
                                <ul class="list">
                                    <li><a href="#"><i class="lnr lnr-users"></i>0</a></li>
                                    <li><a href="#"><i class="lnr lnr-bubble"></i>0</a></li>
                                    <li><a href="#"><i class="lnr lnr-user"></i> Պ․Ղուկասյան</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!--================End Courses Area =================-->