<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" asp-href-include="~/lib/img/favicon.png" type="image/png">
    <title>Learn IT Education</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" asp-href-include="~/lib/css/bootstrap.css">
    <link rel="stylesheet" asp-href-include="~/lib/vendors/linericon/style.css">
    <link rel="stylesheet" asp-href-include="~/lib/css/font-awesome.min.css">
    <link rel="stylesheet" asp-href-include="~/lib/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" asp-href-include="~/lib/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" asp-href-include="~/lib/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" asp-href-include="~/lib/vendors/animate-css/animate.css">
    <link rel="stylesheet" asp-href-include="~/lib/vendors/popup/magnific-popup.css">
    <!-- main css -->
    <link rel="stylesheet" asp-href-include="~/lib/css/style.css">
    <link rel="stylesheet" asp-href-include="~/lib/css/responsive.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    @RenderSection("Style",false)

</head>
<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="top_menu row m0">
            <div class="container">
                <div class="float-left">
                    <ul class="list header_social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
                <div class="float-right">
                    <a class="dn_btn" href="tel:+4400123654896">+440 012 3654 896</a>
                    <a class="dn_btn" href="mailto:example@example.com">example@example.com</a>
                </div>
            </div>
        </div>
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="index.html"><img src="~/lib//lib/img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>

                            @*<li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" asp-controller="Course" asp-action="Index" >Courses</a>
                                        <li class="nav-item"><a class="nav-link" href="course-details.html">Course Details</a></li>
                                    </ul>
                                </li>*@


                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                            <li class="nav-item dropdown">

                                <a href="#" class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:black">
                                    <i class="far fa-user-circle" style="font-size:15px"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" style="background-color:#FDFDFD">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <form asp-action="Index" asp-controller="Profile">
                                            <button type="submit" class="btn btn-link" style="font-size:12px">
                                                My Profile
                                            </button>
                                        </form>
                                        if (User.IsInRole("admin"))
                                        {
                                            <form asp-action="Index" asp-controller="Admin">
                                                <button type="submit" class="btn btn-link" style="font-size:12px">
                                                    Admin Panel
                                                </button>
                                            </form>

                                        }

                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                                        {
                                            <button type="submit" class="btn btn-link" style="font-size:12px">
                                                Log Out
                                            </button>
                                        }

                                    }
                                    else
                                    {
                                        <form class="px-4 py-3" method="post" asp-controller="Account" asp-action="Login">
                                            <div class="form-group">
                                                <label>Email address</label>
                                                <input type="email" name="Email" class="form-control" placeholder="email@example.com">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleDropdownFormPassword1">Password</label>
                                                <input type="password" class="form-control" name="Password" placeholder="Password">
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                                <label class="form-check-label">
                                                    Remember me
                                                </label>
                                            </div>
                                            <button type="submit" class="btn btn-primary normalButton" style="padding:5px;width:45%"><p style="font-size:12px;display:inline">Sign in</p></button>
                                        </form>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-action="Register" asp-controller="Account">New around here? Sign up</a>
                                        <a class="dropdown-item" href="#">Forgot password?</a>
                                    }
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h3>Մենք ապահովում ենք ավելի լավ կրթություն<br />ավելի լավ աշխարհ</h3>
                    <p>Արևը կազմում է արեգակնային համակարգի զանգվածի 99.8 տոկոսը:</p>
                    <a class="main_btn" href="#">Եկեք սկսենք!</a>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    @RenderBody()

    <!--================ start footer Area  =================-->
    <!--================ End footer Area  =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script asp-src-include="~/lib/js/jquery-3.3.1.min.js"></script>
    <script asp-src-include="~/lib/js/popper.js"></script>
    <script asp-src-include="~/lib/js/bootstrap.min.js"></script>
    <script asp-src-include="~/lib/js/stellar.js"></script>
    <script asp-src-include="~/lib/vendors/lightbox/simpleLightbox.min.js"></script>
    <script asp-src-include="~/lib/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script asp-src-include="~/lib/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script asp-src-include="~/lib/vendors/isotope/isotope.pkgd.min.js"></script>
    <script asp-src-include="~/lib/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script asp-src-include="~/lib/vendors/popup/jquery.magnific-popup.min.js"></script>
    <script asp-src-include="~/lib/js/jquery.ajaxchimp.min.js"></script>
    <script asp-src-include="~/lib/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script asp-src-include="~/lib/vendors/counter-up/jquery.counterup.js"></script>
    <script asp-src-include="~/lib/js/mail-script.js"></script>
    <script asp-src-include="~/lib/js/theme.js"></script>

    @RenderSection("scripts", false)


</body>
</html>