@model ExerciseViewModel

<div>
    <h2 align="center">@Model.Exercise.Title</h2>
    @Model.Exercise.Text
    
</div>
<div style="margin-top:80px;margin-bottom:150px">
    <form method="post" asp-controller="Course" asp-action="Course">
        <div class="form-group">
            <label class="form-check-label">My Text Area</label>
            <textarea class="form-control" placeholder="There youre code..." name="Text"></textarea>
        </div>
        <input type="hidden" value="1" />

        <input type="submit" class="genric-btn success-border circle arrow float-right" value="Submit" />
    </form>
</div>
