<div class="col-lg-3 col-sm-6">
    <div class="finance_item">
        <div class="media">
            <div class="d-flex">
                <i class="lnr lnr-rocket"></i>
            </div>
            <div class="media-body">
                <h5>Գիտություն & <br />Ճարտարագիտություն</h5>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-6">
    <div class="finance_item">
        <div class="media">
            <div class="d-flex">
                <i class="lnr lnr-earth"></i>
            </div>
            <div class="media-body">
                <h5>Գիտություն & <br />Ճարտարագիտություն</h5>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-6">
    <div class="finance_item">
        <div class="media">
            <div class="d-flex">
                <i class="lnr lnr-smile"></i>
            </div>
            <div class="media-body">
                <h5>Գիտություն & <br />Ճարտարագիտություն</h5>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-6">
    <div class="finance_item">
        <div class="media">
            <div class="d-flex">
                <i class="lnr lnr-tag"></i>
            </div>
            <div class="media-body">
                <h5>Գիտություն & <br />Ճարտարագիտություն</h5>
            </div>
        </div>
    </div>
</div>